@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Dosis:wght@200..800&display=swap");

.tr, .tl, .br, .bl {
  --offset: -4px;
  position: absolute;
}

.tr {
  top: var(--offset);
  right: var(--offset);
  transform: scaleX(-1);
}

.tl {
  top: var(--offset);
  left: var(--offset);
}

.br {
  bottom: var(--offset);
  right: var(--offset);
  transform: scale(-1)
}

.bl {
  bottom: var(--offset);
  left: var(--offset);
  transform: scaleY(-1);
}