@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.tr, .tl, .br, .bl {
  --offset: -4px;
  position: absolute;
}

.tr {
  top: var(--offset);
  right: var(--offset);
  transform: scaleX(-1);
}

.tl {
  top: var(--offset);
  left: var(--offset);
}

.br {
  bottom: var(--offset);
  right: var(--offset);
  transform: scale(-1)
}

.bl {
  bottom: var(--offset);
  left: var(--offset);
  transform: scaleY(-1);
}